  <div>
    <label for="average-input">average:</label>
    <input type="text" id="average-input" />
  </div>
  <div>
    <label for="max-input">max:</label>
    <input type="text" id="max-input" />
  </div>
  <div>
    <label for="min-input">min:</label>
    <input type="text" id="min-input" />
  </div>
  <div>
    <button type="submit">Add</button>
  </div>
