<h3>{{user}}</h3>
<h4>ACTIVE - Calories Burned Per Day </h4>
<svg class='graph' id="d3-container"></svg>
<p class="chart-max">2200 Calories</p>
<h2>New Entry</h2>
<form id="active-form">
  <div>
    <label for="qty-input">Calories:</label>
    <input type="text" id="qty-input" />
  </div>
  <div>
    <button type="submit">Add</button>
  </div>
</form>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-scale@4"></script>
<script src="/javascript/chart.js"></script>
<script src="/javascript/active.js"></script>