<svg class='graph' id="d3-container"></svg>
<svg class="labels" id="graph-xaxies"></svg>
<h2>New Entry</h2>
<form id="heart-form">
  <div>
    <label for="max-input">max:</label>
    <input type="text" id="max-input" />
  </div>
  <div>
    <button type="submit">Add</button>
  </div>
</form>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-scale@4"></script>
<script src="/javascript/heart.js"></script>
