{{#if loggedIn}}
  <h2>Welcome {{user.username}}</h2>
{{else}}
  <h2>Welcome, please register or sign in.</h2>
{{/if}}

<a href="/heart" class="home-page-link">Heart</a>
<a href="/active" class="home-page-link">Active</a>
<a href="/steps" class="home-page-link">Steps</a>
<a href="/Distance" class="home-page-link">Distance</a>
