{{if loggedIn}}
  <h2>Welcome {{user.name}}</h2>

<div class="page-links">
  <a href="/heart" class="home-page-link">Heart</a>
  <a href="/active" class="home-page-link">Active</a>
  <a href="/steps">Steps</a>
</div>
{{else}}

{{/if}}