.graph {
  /* background-color: rgb(211, 211, 218); */
  width: 800px;
  height: 400px;
  border: 1px solid royalblue;
  display: flex;
  justify-content: space-around;
}

.bar {
  background-color: royalblue;
}
.home-page-link {
  font-size: medium;
}