* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-image: url("../images/image1.webp");
  background-size: cover;
}

a {
  text-decoration: none;
  color: royalblue;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}


button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 3em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: royalblue;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

footer {
  border-top: 1px solid royalblue;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  font-size: 110%;
}

.graph {
  width: 800px;
  height: 400px;
  border: 1px solid royalblue;
}

.bar {
  fill: royalblue;
}
h2 {
  font-size: 50px;
}
#home-page-links {
  display: flex;
  flex-direction: column;
}

.home-page-link {
  font-size: 35px;
}

header {
  border-bottom: 1px solid royalblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
.chart-max {
  position: absolute;
  bottom: 720px; 
  left: 962px; 
  z-index: 2;
  font-size: 20px;
  justify-content:right
}